aioredis==1.3.1
amqp==5.1.0
apturl==0.5.2
asgiref==3.2.10
async-timeout==4.0.2
attrs==21.4.0
autobahn==22.3.2
Automat==20.2.0
bcrypt==3.1.7
billiard==3.6.4.0
blinker==1.4
Brlapi==0.7.0
celery==5.0.5
certifi==2019.11.28
cffi==1.15.0
channels==2.4.0
channels-redis==3.4.0
chardet==3.0.4
ChatterBot==0.8.7
chatterbot-corpus==1.1.2
Click==7.0
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
colorama==0.4.3
command-not-found==0.3
constantly==15.1.0
cryptography==36.0.2
cssselect==1.1.0
cupshelpers==1.0
daphne==2.5.0
dbus-python==1.2.16
defer==1.0.6
distlib==0.3.4
distro==1.4.0
distro-info===0.23ubuntu1
dj-database-url==0.5.0
Django==3.1
django-heroku==0.3.1
django-utils-six==2.0
djangorestframework==3.12.1
duplicity==0.8.12.0
entrypoints==0.3
fasteners==0.14.1
filelock==3.6.0
future==0.18.2
gevent==21.12.0
greenlet==1.1.2
gunicorn==19.9.0
hiredis==2.0.0
httplib2==0.14.0
hyperlink==21.0.0
idna==2.8
incremental==21.3.0
joblib==1.1.0
keyring==18.0.1
kombu==5.2.4
language-selector==0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
lockfile==0.12.2
louis==3.12.0
lxml==4.8.0
macaroonbakery==1.3.1
Mako==1.1.0
MarkupSafe==1.1.0
mathparse==0.1.2
monotonic==1.5
